/* Custom Styles */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Adjust as needed */
    padding: 48px 0; /* Adjust padding as needed */
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text color */
}
.sidebar .nav-link {
    color: #61C791; /* Usable green */
}
.content {
    margin-left: 250px; /* Adjust margin to match sidebar width */
    padding: 20px;
    color: #fff; /* White text color */
}
body {
      background-color: black;
}
.user-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Centered container */
.centered-container {
    background-color: #333; /* Same as sidebar background */
    padding: 20px;
    border-radius: 10px;
    width: 200%; /* Adjust width as needed */
    max-width: 800px; /* Limit maximum width for better readability */
    margin: 0 auto; /* Center the centered-container horizontally */
}

  #workoutsContainer {
    max-height: calc(100vh - 100px); /* Adjust as needed */
    overflow-y: auto;
    margin: 0 auto; /* Center the workouts container horizontally */
    width: 90%; /* Adjust width as needed */
}